# sbt
lib_managed
project/project
target

# Worksheets (Eclipse or IntelliJ)
*.sc

# Eclipse
.cache
.classpath
.project
.scala_dependencies
.settings
.target
.worksheet

# IntelliJ
.idea

# Mac
.DS_Store

# Log files
*.log
