# Log files
*.class
*.log

# sbt specific
.cache
dist/*
lib_managed/
project/**/project
project/activator-sbt*
src_managed/
target/

# Worksheets (Eclipse or IntelliJ)
*.sc

# Scala-IDE specific
.classpath
.project
.scala_dependencies
.settings
.worksheet

# IntelliJ
*.iml
*.iws
.idea/
/classes/
/out/

# ScalaTest
exportToHTML

# Mac
.DS_Store

# Windows
desktop.ini
thumbs.db
